<span style="color:red"> 
    hola mi nombre es {%= board.name %} <br/>
    x: liberty <br/>
    o: linked <br/>
</span>

<div>
    
    <grid>
        {% for (var y = 0; y < board.grid.length; y++) { %}
        <row>
            {% for (var x = 0; x < board.grid[y].length; x++) { %}
            <cell id="cell_{%= x %}_{%= y %}" class="{%= board.grid[y][x].player.name %} {%= (x+y)%2==1?'odd':'pair' %}" data-x="{%= x %}" data-y="{%= y %}">
            </cell>
            {% } %}
        </row>
        {% } %}
    </grid>
    
</div>

<info>
    
</info>